name: glassmorphism_ui_plus
description: A Flutter package for creating beautiful glassmorphism UI effects.
version: 0.0.5
homepage: https://github.com/MahiiTech/glassmorphism_ui
repository: https://github.com/MahiiTech/glassmorphism_ui
issue_tracker: https://github.com/MahiiTech/glassmorphism_ui/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
